<div class="result hidden">
    <hr>
    <table class="nursery">
      <tbody>
        <tr>
          <th class="aaa">保育園</th>
          <td class="aaa" id="nursery"><%= Nursery.find(plan.nursery_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">期間</th>
          <td class="aaa" id="nursery_period"><%= NurseryPeriod.find(plan.nursery_period_id).period %></td>
        </tr>
        <tr>
          <th class="aaa">合計</th>
          <td class="aaa" id="nursery_sum"></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <table class="kindergarten">
      <tbody>
        <tr>
          <th class="aaa">幼稚園</th>
          <td class="aaa" id="kindergarten"><%= Kindergarten.find(plan.kindergarten_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">合計</th>
          <td class="aaa" id="kindergarten_sum"></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <table class="elementary">
      <tbody>
        <tr>
          <th class="aaa">小学校</th>
          <td class="aaa" id="elementary"><%= Elementary.find(plan.elementary_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">習い事①</th>
          <td class="aaa" id="elementary_activity_one"><%= ElementaryActivityOne.find(plan.elementary_activity_one_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">期間①</th>
          <td class="aaa" id="elementary_activity_one_period"><%= ElementaryActivityOnePeriod.find(plan.elementary_activity_one_period_id).period %></td>
        </tr>
        <tr>
          <th class="aaa">習い事②</th>
          <td class="aaa" id="elementary_activity_two"><%= ElementaryActivityTwo.find(plan.elementary_activity_two_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">期間②</th>
          <td class="aaa" id="elementary_activity_two_period"><%= ElementaryActivityTwoPeriod.find(plan.elementary_activity_two_period_id).period %></td>
        </tr>
        <tr>
          <th class="aaa">合計</th>
          <td class="aaa" id="elementary_sum"></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <table class="junior_high">
      <tbody>
        <tr>
          <th class="aaa">中学校</th>
          <td class="aaa" id="junior_high"><%= JuniorHigh.find(plan.junior_high_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">部活</th>
          <td class="aaa" id="junior_high_club"><%= JuniorHighClub.find(plan.junior_high_club_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">期間</th>
          <td class="aaa" id="junior_high_club_period"><%= JuniorHighClubPeriod.find(plan.junior_high_club_period_id).period %></td>
        </tr>
        <tr>
          <th class="aaa">習い事</th>
          <td class="aaa" id="junior_high_activity"><%= JuniorHighActivity.find(plan.junior_high_activity_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">期間</th>
          <td class="aaa" id="junior_high_activity_period"><%= JuniorHighActivityPeriod.find(plan.junior_high_activity_period_id).period %></td>
        </tr>
        <tr>
          <th class="aaa">合計</th>
          <td class="aaa" id="junior_high_sum"></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <table class="high">
      <tbody>
        <tr>
          <th class="aaa">高校</th>
          <td class="aaa" id="high"><%= High.find(plan.high_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">部活</th>
          <td class="aaa" id="high_club"><%= HighClub.find(plan.high_club_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">期間</th>
          <td class="aaa" id="high_club_period"><%= HighClubPeriod.find(plan.high_club_period_id).period %></td>
        </tr>
        <tr>
          <th class="aaa">習い事</th>
          <td class="aaa" id="high_activity"><%= HighActivity.find(plan.high_activity_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">期間</th>
          <td class="aaa" id="high_activity_period"><%= HighActivityPeriod.find(plan.high_activity_period_id).period %></td>
        </tr>
        <tr>
          <th class="aaa">留学</th>
          <td class="aaa" id="high_study_abroad"><%= HighStudyAbroad.find(plan.high_study_abroad_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">大学受験</th>
          <td class="aaa" id="high_examination"><%= HighExamination.find(plan.high_examination_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">合計</th>
          <td class="aaa" id="high_sum"></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <table class="university">
      <tbody>
        <tr>
          <th class="aaa">大学</th>
          <td class="aaa" id="university"><%= University.find(plan.university_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">部活</th>
          <td class="aaa" id="university_club"><%= UniversityClub.find(plan.university_club_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">期間</th>
          <td class="aaa" id="university_club_period"><%= UniversityClubPeriod.find(plan.university_club_period_id).period %></td>
        </tr>
        <tr>
          <th class="aaa">仕送り</th>
          <td class="aaa" id="university_money_transfer"><%= UniversityMoneyTransfer.find(plan.university_money_transfer_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">期間</th>
          <td class="aaa" id="university_money_transfer_period"><%= UniversityMoneyTransferPeriod.find(plan.university_money_transfer_period_id).period %></td>
        </tr>
        <tr>
          <th class="aaa">留学</th>
          <td class="aaa" id="university_study_abroad"><%= UniversityStudyAbroad.find(plan.university_study_abroad_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">就活</th>
          <td class="aaa" id="university_job_hunting"><%= UniversityJobHunting.find(plan.university_job_hunting_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">大学院受験</th>
          <td class="aaa" id="university_examination"><%= UniversityExamination.find(plan.university_examination_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">合計</th>
          <td class="aaa" id="university_sum"></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <table class="graduate_school">
      <tbody>
        <tr>
          <th class="aaa">大学院</th>
          <td class="aaa" id="graduate_school"><%= GraduateSchool.find(plan.graduate_school_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">就活</th>
          <td class="aaa" id="graduate_school_job_hunting"><%= GraduateSchoolJobHunting.find(plan.graduate_school_job_hunting_id).fee %></td>
        </tr>
        <tr>
          <th class="aaa">合計</th>
          <td class="aaa" id="graduate_school_sum"></td>
        </tr>
      </tbody>
    </table>
    <hr>
</div>

<div class="">
  総額：
  <%# JavaScriptで数値を表示する為にこのidが必要 %>
  <strong id="total_sum"></strong>万円
  <%#%>
</div>