<header class="header">
  <div class="header_left">
    <h1>プラン<%=@plan.id%>の編集</h1>
  </div>
  <div class="header_right">
    <ul class="nav-lists  ">
      <li class="nav_list"></li>
      <li class="nav_list"><%= link_to '戻る', root_path %></li>
    </ul>
  </div>
</header>

<body>
  <div class="body_register">
    <div class="body_register_left">
      <%= form_with(model: @plan, local: true) do |f| %>
        <div class = 'payment'>
            <div class = 'kind_of_school nursery'>
              <h2>保育園</h2>
              <div class = 'pulldown'>
                <p class="item_new">・園の種類</p>
                <p class="item_new"><%= f.collection_select(:nursery_id, Nursery.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p>
                <p class="item_new">期間</p>
                <p class="item_new"><%= f.collection_select(:nursery_period_id, NurseryPeriod.all, :id, :period, {}, {class:"hoge", id:"fuga"}) %></p>
              </div>
            </div>

            <div class = 'kind_of_school kindergarten'>
              <h2>幼稚園</h2>
              <div class = 'pulldown'>
                <p class="item_new">・園の種類</p>
                <p class="item_new"><%= f.collection_select(:kindergarten_id, Kindergarten.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
            </div>

            <div class = 'kind_of_school elementary'>
              <h2>小学校</h2>
              <div class = 'pulldown'>
                <p class="item_new">・学校の種類</p>
                <p class="item_new"><%= f.collection_select(:elementary_id, Elementary.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
              <div class = 'pulldown'>
                <p class="item_new">・習い事①</p>
                <p class="item_new"><%= f.collection_select(:elementary_activity_one_id, ElementaryActivityOne.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
                <p class="item_new">期間</p>
                <p class="item_new"><%= f.collection_select(:elementary_activity_one_period_id, ElementaryActivityOnePeriod.all, :id, :period, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
              <div class = 'pulldown'>
                <p class="item_new">・習い事②</p>
                <p class="item_new"><%= f.collection_select(:elementary_activity_two_id, ElementaryActivityTwo.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
                <p class="item_new">期間</p>
                <p class="item_new"><%= f.collection_select(:elementary_activity_two_period_id, ElementaryActivityTwoPeriod.all, :id, :period, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
            </div>

            <div class = 'kind_of_school junior_high'>
              <h2>中学校</h2>
              <div class = 'pulldown'>
                <p class="item_new">・学校の種類</p>
                <p class="item_new"><%= f.collection_select(:junior_high_id, JuniorHigh.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
              <div class = 'pulldown'>
                <p class="item_new">・部活</p>
                <p class="item_new"><%= f.collection_select(:junior_high_club_id, JuniorHighClub.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
                <p class="item_new">期間</p>
                <p class="item_new"><%= f.collection_select(:junior_high_club_period_id, JuniorHighClubPeriod.all, :id, :period, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
              <div class = 'pulldown'>  
                <p class="item_new">・習い事</p>
                <p class="item_new"><%= f.collection_select(:junior_high_activity_id, JuniorHighActivity.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
                <p class="item_new">期間</p>
                <p class="item_new"><%= f.collection_select(:junior_high_activity_period_id, JuniorHighActivityPeriod.all, :id, :period, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
            </div>

            <div class = 'kind_of_school high'>
              <h2>高校</h2>
              <div class = 'pulldown'>
                <p class="item_new">・学校の種類</p>
                <p class="item_new"><%= f.collection_select(:high_id, High.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
              <div class = 'pulldown'>  
                <p class="item_new">・部活</p>
                <p class="item_new"><%= f.collection_select(:high_club_id, HighClub.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
                <p class="item_new">期間</p>
                <p class="item_new"><%= f.collection_select(:high_club_period_id, HighClubPeriod.all, :id, :period, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
              <div class = 'pulldown'> 
                <p class="item_new">・習い事</p>
                <p class="item_new"><%= f.collection_select(:high_activity_id, HighActivity.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
                <p class="item_new">期間</p>
                <p class="item_new"><%= f.collection_select(:high_activity_period_id, HighActivityPeriod.all, :id, :period, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
              <div class = 'pulldown'> 
                <p class="item_new">・留学</p>
                <p class="item_new"><%= f.collection_select(:high_study_abroad_id, HighStudyAbroad.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
              <div class = 'pulldown'>
                <p class="item_new">・大学受験</p>
                <p class="item_new"><%= f.collection_select(:high_examination_id, HighExamination.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
            </div>

            <div class = 'kind_of_school university'>
              <h2>大学</h2>
              <div class = 'pulldown'>
                <p class="item_new">・学校の種類</p>
                <p class="item_new"><%= f.collection_select(:university_id, University.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
              <div class = 'pulldown'>  
                <p class="item_new">・部活</p>
                <p class="item_new"><%= f.collection_select(:university_club_id, UniversityClub.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
                <p class="item_new">期間</p>
                <p class="item_new"><%= f.collection_select(:university_club_period_id, UniversityClubPeriod.all, :id, :period, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
              <div class = 'pulldown'> 
                <p class="item_new">・仕送り</p>
                <p class="item_new"><%= f.collection_select(:university_money_transfer_id, UniversityMoneyTransfer.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
                <p class="item_new">期間</p>
                <p class="item_new"><%= f.collection_select(:university_money_transfer_period_id, UniversityMoneyTransferPeriod.all, :id, :period, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
              <div class = 'pulldown'> 
                <p class="item_new">・留学</p>
                <p class="item_new"><%= f.collection_select(:university_study_abroad_id, UniversityStudyAbroad.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
              <div class = 'pulldown'>  
                <p class="item_new">・就活</p>
                <p class="item_new"><%= f.collection_select(:university_job_hunting_id, UniversityJobHunting.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
              <div class = 'pulldown'> 
                <p class="item_new">・大学院受験</p>
                <p class="item_new"><%= f.collection_select(:university_examination_id, UniversityExamination.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
            </div>

            <div class = 'kind_of_school graduate_school'>
              <h2>大学院</h2>
              <div class = 'pulldown'>
                <p class="item_new">・学校の種類</p>
                <p class="item_new"><%= f.collection_select(:graduate_school_id, GraduateSchool.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p>
              </div>
              <div class = 'pulldown'> 
                <p class="item_new">・就活</p>
                <p class="item_new"><%= f.collection_select(:graduate_school_job_hunting_id, GraduateSchoolJobHunting.all, :id, :name, {}, {class:"hoge", id:"fuga"}) %></p> 
              </div>
            </div>
            
        </div>

        <div class="income">
        </div>

      <div class = "btn_design btn-start ">
          <%= f.submit "結果" ,class:"link_to_result" %>
      </div>
      <% end %>
    </div>

    <div class="body_register_right">
      <div class="image_nursery_kindergarten">
      </div>

      <div class="image_elementary">
      </div>

      <div class="image_junior_high">
      </div>

      <div class="image_high">
      </div>

      <div class="image_university">
      </div>

      <div class="image_graduate_school">
      </div>


    </div>
  </div>
</body>