<header class="header">
  <div class="header_left">
    <h1>教育費用シミュレーター</h1>
  </div>
  <div class="header_right">
    <ul class="nav-lists  ">
      <% if user_signed_in? %>
      <li class="nav_list"></li>
      <li class="nav_list"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li class="nav_list"><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <li class="nav_list"><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <% end %>
    </ul>
  </div>
</header>

<body>
  <div class="body_upper">
    <div class="start">
      <div class="start_message">
        ユーザーを選択して下さい
      </div>

      <div class="start_message ">
        <p class="btn_design papa"><%= link_to 'パパ', papa_sign_in_path, method: :post, class: "link_to_papa" %></p>
        <p class="btn_design mama"><%= link_to 'ママ', mama_sign_in_path, method: :post, class: "link_to_mama" %></p>
      </div>

      <div class="start_message ">
        <% if user_signed_in? %>
        <%= current_user.name %>でシミュレーションを行います
        <% else %>
        ユーザー未選択
        <% end %>
      </div>

      <div class="start_message">
        <p class="btn_design btn-start"><%= link_to '開始', new_plan_path, class: "link_to_start"  %></p>
      </div>
    </div>
  </div>

  <div class="body_lower">
    <div class="how_to_use">
      <p class="item">＜使い方＞</p>
      <ol class="how_to_use_message">
        <li class="how_to_use_list">ユーザーを選択（パパ or ママ）</li>
        <li class="how_to_use_list">「開始」ボタンをクリック</li>
        <li class="how_to_use_list">必要項目をプルダウンの中から選択</li>
        <li class="how_to_use_list">「結果」ボタンをクリック</li>
      </ol>
    </div>
    <p class="item">＜作成済みプラン＞</p>
    <% @plan.each do |plan| %>
        <div class="col-sm-4">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="panel-heading-left">
                  <strong><%= "プラン#{plan.id}" %></strong>
                </div>
                <div class="panel-heading-right">
                      <span class="plan_list"><span class="glyphicon glyphicon-list-alt"></span><%= link_to '詳細', plan_path(plan.id) %></span>
                      <span class="plan_list"><span class="glyphicon glyphicon-pencil"></span><%= link_to '編集', edit_plan_path(plan.id), method: :get %></span>
                      <span class="plan_list"><span class="glyphicon glyphicon-trash"></span><%= link_to '削除', plan_path(plan.id), method: :delete %></span>
                </div>
              </div>
              <div class="panel-body">
                総額表示
              </div>
            </div>
        </div>
    <% end %>
    
  </div>
</body>
