<header>
  <div class="header_left">
    <h1 class="title">教育費用シミュレーター</h1>
  </div>
  <div class="header_right">
    <ul class="nav-lists">
      <% if user_signed_in? %>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <li><%= link_to 'パパ', papa_sign_in_path, method: :post %></li>
      <li><%= link_to 'ママ', mama_sign_in_path, method: :post %></li>
      <% end %>
    </ul>
  </div>
</header>



<body>

<div class="welcome">
  <% if user_signed_in? %>
    <h3>ようこそ<%= current_user.name %>さん</h3>
  <% else %>
    <h3>ようこそゲストさん</h3>
  <% end %>
</div>

<div class="start">
  <%= link_to 'シミュレーション開始！', new_plan_path, class: "under_bar" %>
  <p></p>
  <p>※開始するにはログインして下さい</P>
</div>

<div class="plantable">プラン一覧</div>
<div class="planborder">
  <% @plan.each do |plan| %>
  <span class="plan">
    <%= link_to "プラン#{plan.id}", plan_path(plan.id) %>
  </span>
  <% end %>
</div>

<div class="how_to_use">
<div class="how_to_use_inner">
  <ul>
    <li>＜使い方＞</li>
    <li>１．シミュレーションプランを作成するにはログインして下さい</li>
    <li>２．ログイン後、「シミュレーション開始！」ボタンをクリックして下さい</li>
    <li>３．必要項目をプルダウンの中から選択して下さい</li>
    <li>４．「結果」ボタンをクリックするとシミュレーション結果が表示されます</li>
    <li>５．未ログインでも作成済みのプランは閲覧出来ます</li>
</div>
</div>

</body>
